.container{
    width: 870px;
    background-color: aliceblue;
    margin-top: 21px;
    border-radius: 10px;  
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
hr{
    border: 1 px solid rgb(110, 101, 87);
    margin-bottom: 30px;
    width: 807px;
}
/* Top players style */

/*.top-players{
    margin: 30px;
}*/
.players{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-row-gap: 30px;
    margin: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin: 30px;
}
.player{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.player img{
    height: 56px;
    width: 56px;   
}


/* ----------------------------top blog styles -----------------------------*/
.blogs{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
}
.blog{
    display: flex;
}
.blog img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    width: 164px;
}
.blog-author a{
    color: #562EFF;
    text-decoration: none;
}

/* -----------------------------latest course styles ------------------------------------*/

.course .course-banner img{
    height: 104px;
    width: 224px;
    border-radius: 10px;
}
 
.course-author a{
    color: red;
    text-decoration: none;
}

.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-info p{
    color: #A2A2A2;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;  
}
.course-duration{
    background-color: #FFE4E8;
    color: #FF4A60;
    padding: 8px;
    border-radius: 12px;
}

.courses{
    display: flex;
    justify-content: space-around;
    

}
.course-title{
    width: 200px;
}

/* -------------------
reponsive styles
-------------------- */

@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog, .courses{
        flex-direction: column;
    }
}

@media only screen (min-width:689px) and (max-width:991px) {
    .container{
        width:100%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .container{
        width: 100%;
    }
    .player{
        flex-direction: column;
    }
    .blog{
        flex-direction: column;
    }
    .courses{
        flex-direction: column;
    }
}